html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
}

#map {
    height: 100%;
}

.leaflet-popup-content-wrapper {
    border-radius: 0;
}

.leaflet-popup-content {
    margin: 5px 6px;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 1.2em;
    }
}

.leaflet-popup-tip {
    display: none;
}

.chart-container {
    line-height: 75px;
}

.bar {
    line-height: 16px;

    position: relative;

    display: inline-block;

    width: 20%;
    min-height: 2px;

    text-align: center;
    vertical-align: bottom;

    span {
        font-size: 8px;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        vertical-align: top;
    }

    &.small {
        span {
            top: -15px;
        }
    }

    &.ps {
        background-color: rgba(red, .5);
    }
    &.lr {
        background-color: rgba(blue, .5);
    }
    &.fn {
        background-color: rgba(black, .5);
    }
    &.eelv {
        background-color: rgba(green, .5);
    }
    &.autres {
        background-color: rgba(silver, .5);
    }
}
